body
{
  background: url('//gekradio.com/assets/images/wall.jpg');
}

.bnnr-728x90 {
  background-color: #e2e2e2;
  color: #fff;
  height: 90px;
  padding-top: 30px;
  text-align: center;
  width: 728px;
}

.main-glass {
  height: 220px;
  margin-top: -10px;
}

.glass {
  height: 145px;
  margin-top: -5px;
}

.main-glass, .glass {
  width: 540px;
  position: absolute;
  background: #fff;
  opacity: 0.65;
  z-index: -1;
  margin-left: -10px;
  border-radius: 5px;
  border: solid 2px #cccccc;
  box-shadow: 0 0 15px #777;
}

.mrgn {
  margin: 1em 0 4em 0;
}

#nwplng img {
  margin: 0 1em 1em 0;
  width: 200px;
  height: 200px;
  float: left;
}

#logo {
  margin: 50px 0;
  opacity: 0.5;
}

#history
{
  max-width: 500px;

  img {
    margin: 0 1em 2em 3em;
    width: 100px;
    height: 100px;
    float: left;
  }
}